a[download] {
    background: var(--lightgray);
    font-family: var(--font-code);
    color: var(--black);
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    border-radius: 16px;
    border: 2px solid var(--lightgray);
}

a[download]:hover {
    border: 2px solid var(--white);
    text-decoration: underline;
}

a[download]::before {
    font-family: Icons;
    margin-right: 2px;
    vertical-align: text-top;
    content: "description";
}

a[download$=".pdf"]::before {
    content: "picture_as_pdf";
    color: #800;
}

a[download$=".png"]::before,
a[download$=".jpg"]::before,
a[download$=".jpeg"]::before,
a[download$=".gif"]::before,
a[download$=".tif"]::before,
a[download$=".tiff"]::before,
a[download$=".bmp"]::before,
a[download$=".svg"]::before {
    content: "image";
}

a[download$=".py"]::before,
a[download$=".pyx"]::before,
a[download$=".ipy"]::before,
a[download$=".ipynb"]::before,
a[download$=".js"]::before,
a[download$=".pinq"]::before {
    content: "code";
    color: var(--theme-4-darker);
}

a[download$=".stl"]::before,
a[download$=".step"]::before,
a[download$=".gltf"]::before,
a[download$=".glb"]::before,
a[download$=".fbx"]::before,
a[download$=".ply"]::before,
a[download$=".x_t"]::before,
a[download$=".lxf"]::before,
a[download$=".mpd"]::before,
a[download$=".blend"]::before {
    content: "3d_rotation";
}

a[download$=".ics"]::before {
    content: "event";
}

a[download$=".eml"]::before {
    content: "email";
}

a[download$=".epub"]::before {
    content: "book";
}

a[download$=".gz"]::before,
a[download$=".tar"]::before,
a[download$=".zip"]::before {
    content: "folder_zip";
}

a[download$=".json"]::before,
a[download$=".yaml"]::before,
a[download$=".yml"]::before {
    content: "data_object";
    color: var(--theme-3);
}

a[download$=".cfg"]::before,
a[download$=".conf"]::before,
a[download$=".ini"]::before,
a[download$=".css"]::before {
    content: "settings";
}

a[download$=".mp3"]::before,
a[download$=".wav"]::before,
a[download$=".ogg"]::before,
a[download$=".flac"]::before,
a[download$=".aiff"]::before {
    content: "headphones";
}

a[download$=".mp4"]::before,
a[download$=".vid"]::before,
a[download$=".webm"]::before,
a[download$=".avi"]::before,
a[download$=".mov"]::before,
a[download$=".mpeg"]::before,
a[download$=".mpg"]::before,
a[download$=".m4v"]::before {
    content: "movie";
}

a[download$=".midi"]::before {
    content: "piano";
}

a[download$=".woff"]::before,
a[download$=".ttf"]::before {
    content: "text_fields";
}

a[download^="settings"]::before {
    content: "settings"!important;
    color: var(--black);
}


/* person on email links */

a[href^="mailto:"] {
    background: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    border: 2px solid var(--lightgray);
    border-radius: 16px;
}

a[href^="mailto:"]:hover {
    border: 2px solid var(--white);
    text-decoration: underline;
}

a[href^="mailto:"]::before {
    font-family: Icons;
    margin-right: 2px;
    vertical-align: text-top;
    content: "account_circle";
}
