@font-face {
    font-family: "Nova Square";
    src: url("/static/fonts/NovaSquare-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Open Sans";
    src: url("/static/fonts/OpenSans-VariableFont.ttf") format('truetype');
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/static/fonts/UbuntuMono-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Icons;
    src: url("/static/fonts/MaterialIcons-Regular.ttf") format('truetype');
}
