nav {
    padding-left: 2em;
}

nav+div {
    padding: 0.5em;
    display: inline-block;
}

nav ul {
    background: var(--color-bg);
    list-style: none;
    vertical-align: middle;
    padding-left: 0;
}

nav li {
    color: var(--color-fg);
    background: var(--color-bg);
    display: block;
    float: left;
    padding: 0.25em;
    position: relative;
    text-decoration: none;
    margin: auto 0 auto 0;
    min-width: 5em;
}

nav li a,
nav li a:visited {
    color: var(--color-fg);
    text-decoration: none;
}

nav li a:hover,
nav li a:visited:hover {
    color: var(--color-fg);
    text-decoration: underline;
}

nav li:hover,
nav li:focus,
nav li:focus-within {
    background: var(--theme-1);
    cursor: pointer;
}


nav ul li ul {
    position: absolute;
    margin-top: 0.25em;
    left: 0;
    display: none;
}

nav ul li:hover>ul,
nav ul li:focus-within>ul,
nav ul li ul:hover,
nav ul li ul:focus {
    display: block;
    background: var(--theme-1);
}

nav ul li>ul li,
nav ul li ul li {
    background: var(--theme-1-darker);
}

nav ul li>ul li:hover,
nav ul li ul li:hover {
    background: var(--theme-1-lighter);
}


/* @media screen and (prefers-color-scheme: light) {
    nav ul li>ul li,
    nav ul li ul li {
        background: var(--theme-1-lighter);
    }
    nav ul li>ul li:hover,
    nav ul li ul li:hover {
        background: var(--theme-1-lightest);
    }
} */

nav ul li ul li {
    clear: both;
    width: 100%;
}
