::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--darkgray);
}

::-webkit-scrollbar-thumb {
    background: var(--theme-1);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--theme-1-lighter);
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-resize {
    background-color: var(--black);
    color: var(--white);
}

::-webkit-resize::after {
    content: '&#8690';
}

::-webkit-scrollbar-corner {
    background-color: var(--black);
    color: var(--white);
    content: '&#8690';
}