.tabbed-set {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.tabbed-set .tabbed-content {
    display: none;
    order: 99;
    width: 100%;
}

.tabbed-set label {
    width: auto;
    margin: 0 0 0 1em;
    padding: 0.25em 1em 0.25em 0.25em;
    border-bottom: 5px solid var(--theme-1);
    background: var(--black);
    color: var(--white);
}

.tabbed-set input {
    position: absolute;
    opacity: 0;
}

.tabbed-set input:nth-child(n+1) {
    color: #333;
}

.tabbed-set input:nth-child(n+1):checked+label {
    color: var(--color-open-tab);
    border-bottom: 5px solid var(--color-open-tab);
}

.tabbed-set input:nth-child(n+1):checked+label+.tabbed-content {
    display: block;
    padding: 0 0.5em;
    margin: 0 1em;
    background: var(--black);
    border: 2px dotted gray;
    border-radius: 5px;
}
