.task-list-item {
    list-style-type: none!important;
}


.task-list-item input,
.task-list-item input:disabled::before {
    color: var(--theme-2);
    width: 0.7em;
    margin-left: -0.7em;
    cursor: default!important;
}

.task-list-item input::before {
    content: 'radio_button_unchecked'!important;
}

.task-list-item input:checked::before {
    content: 'task_alt'!important;
    color: var(--theme-4);
}


/* uncomment when browsers support :has() */

/* .task-list-item input {
    display: none;
}

.task-list-item:has(input:checked) {
    text-decoration: line-through;
    color: var(--lightgray);
}

.task-list-item::marker {
    font-family: Icons;
    color: var(--theme-2);
    content: 'radio_button_unchecked';
}

.task-list-item:has(input:checked)::marker {
    content: 'task_alt';
    color: var(--theme-4);
} */
