{% macro autoinclude(txt) %}
    {# PrismJS #}
    {% if "<code" in txt %}
        <!-- PrismJS -->
        {% include "prism.html" %}
        <!-- /PrismJS -->
    {% endif %}

    {# KaTeX #}
    {% if "$" in txt or "\\begin{align}" in txt %}
        <!-- Katex -->
        {% include "katex.html" %}
        <!-- /Katex -->
    {% endif %}

    {# Mermaid #}
    {# {% if "mermaid" in txt %}
        {% include "mermaid.html" %}
    {% endif %} #}

    {# LifeViewer #}
    {% if "lifeviewer" in txt %}
        <!-- Lifeviewer -->
        {% include "lifeviewer.html" %}
        <!-- /Lifeviewer -->
    {% endif %}

    {# Schemascii #}
    {% if "schemascii" in txt and "<svg" in txt %}
        <!-- Schemascii -->
        {% include "schemascii.html" %}
        <!-- /Schemascii -->
    {% endif %}

    {# Instagram embeds #}
    {# cSpell: ignore instgrm #}
    {% if "data-instgrm-permalink" in txt %}
        <!-- Instagram embed -->
        {% include "instagram.html" %}
        <!-- /Instagram -->
    {% endif %}

    {# TODO: mec2 #}
{% endmacro %}
