{% extends "list_page.html" %}

{% block title %}{{ SITENAME }} - '{{ category }}' category{% endblock title %}

{% block content_title %}
    <h1>Articles in the '{{ category }}' category</h1>
    {% if category.parent %}
        <p><em>Parent category <a href="{{ url_for(category.parent.url) }}">{{ category.parent }}</a></em></p>
    {% endif %}
    {% if category.children %}
        <p>Subcategories:
            {% for child, articles in category.children|sort %}
                <a href="{{ url_for(child.url) }}">{{ child.shortname }}</a> ({{ articles|count }}){{ ', ' if not loop.last }}
            {% endfor %}
        </p>
    {% endif %}
{% endblock content_title %}

