{% macro translations_for(article) %}
    {% if article.translations %}
        {% set didtrans = False %}
        {% for translation in article.translations %}
            {% if translation.lang != article.lang %}
                {% if not didtrans %}Translations:{% set didtrans = True %}{% endif %}
                <a href="{{ url_for(translation.url) }}" hreflang="{{ translation.lang }}">{{ translation.lang }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro entry_hreflang(entry) %}
    {% if entry.translations %}
        {% for translation in entry.translations %}
            {% if translation.lang != entry.lang %}
                <link rel="alternate" hreflang="{{ translation.lang }}" href="{{ url_for(translation.url) }}" />
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
